<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='Css/style_graficne.css')}}">
    <title>AMD Radeon RX 7900 GRE</title>
</head>
<body>
    <div class="container">
        <h1>AMD Radeon RX 7900 GRE</h1>
        <img src="{{ url_for('static', filename='Images/2. AMD Radeon RX 7900 GRE.png') }}" alt="AMD Radeon RX 7900 GRE">
        
        <div class="info">
            <p><strong>Cena:</strong> Približno 649 EUR</p>
            <p><strong>Leto izdaje:</strong> 2023</p>
            <p><strong>Podpora za tehnologije:</strong> FreeSync, Ray Tracing, FSR 2.0</p>
            <p><strong>Zmogljivost:</strong> Povprečno 120+ FPS pri 1440p (Cyberpunk 2077, Red Dead Redemption 2, Horizon Zero Dawn)</p>
            <p><strong>Namen:</strong> Odlično za igranje iger, profesionalno delo (video obdelava, 3D modeliranje), manj primerno za rudarjenje kriptovalut</p>
            <p><strong>Kompatibilnost:</strong> PCIe 4.0, potrebuje vsaj 700W napajalnik, združljivo z večino modernih matičnih plošč</p>
        </div>
    </div>
</body>
</html>
