<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='Css/style_graficne.css')}}">
    <title>AMD Radeon RX 7900 XTX</title>

</head>
<body>
    <div class="container">
        <h1>AMD Radeon RX 7900 XTX</h1>
        <img src="{{ url_for('static', filename='Images/2. AMD Radeon RX 7900 XTX.jpg') }}" alt="AMD Radeon RX 7900 XTX">
        
        <div class="info">
            <p><strong>Cena:</strong> Približno 999 EUR</p>
            <p><strong>Leto izdaje:</strong> 2022</p>
            <p><strong>Podpora za tehnologije:</strong> FreeSync, Ray Tracing, FSR 2.0</p>
            <p><strong>Zmogljivost:</strong> Povprečno 140+ FPS pri 4K (Cyberpunk 2077, Red Dead Redemption 2, Horizon Zero Dawn)</p>
            <p><strong>Namen:</strong> Odlično za igranje iger, profesionalno delo (renderiranje, video obdelava), manj primerno za rudarjenje kriptovalut</p>
            <p><strong>Kompatibilnost:</strong> PCIe 4.0, potrebuje vsaj 800W napajalnik, združljivo z večino modernih matičnih plošč</p>
        </div>
    </div>
</body>
</html>
