<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nvidia GeForce RTX 4070 Super</title>
    <link rel="stylesheet" href="{{url_for('static',filename='Css/style_graficne.css')}}">

</head>
<body>
    <div class="container">
        <h1>Nvidia GeForce RTX 4070 Super</h1>
        <img src="{{ url_for('static', filename='Images/1_Nvidia GeForce RTX 4070 Super.jpg') }}" alt="Nvidia GeForce RTX 4070 Super">
        
        <div class="info">
            <p><strong>Cena:</strong> Približno 599 EUR</p>
            <p><strong>Leto izdaje:</strong> 2024</p>
            <p><strong>Podpora za tehnologije:</strong> G-Sync, FreeSync, Ray Tracing, DLSS 3</p>
            <p><strong>Zmogljivost:</strong> Povprečno 120+ FPS pri 1440p (Cyberpunk 2077, Forza Horizon 5, Call of Duty: MW3)</p>
            <p><strong>Namen:</strong> Odlično za igranje iger, profesionalno delo (renderiranje, 3D modeliranje), neprimerno za rudarjenje kriptovalut</p>
            <p><strong>Kompatibilnost:</strong> PCIe 4.0, potrebuje vsaj 650W napajalnik, združljivo z večino modernih matičnih plošč</p>
        </div>
    </div>
</body>
</html>
